trigger:
- main

pool:
  name: 'pip_agent'

stages:

# -------------------------
# Stage 1: Build WAR
# -------------------------
- stage: Build
  displayName: 'Build WAR'
  jobs:
  - job: MavenBuild
    displayName: 'Maven Build Job'
    steps:
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.21'
        mavenVersionOption: 'Path'
        mavenDirectory: 'C:\maven\'
        mavenSetM2Home: false
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

# -------------------------
# Stage 2: Publish Artifact
# -------------------------
- stage: PublishArtifact
  displayName: 'Publish WAR Artifact'
  dependsOn: Build
  jobs:
  - job: PublishJob
    displayName: 'Publish Build Artifact'
    steps:
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
        ArtifactName: 'java'
        publishLocation: 'Container'

# -------------------------
# Stage 3: Deploy via SSH
# -------------------------
- stage: Deploy
  displayName: 'Deploy WAR to Tomcat'
  dependsOn: PublishArtifact
  jobs:
  - job: SSHDeploy
    displayName: 'Copy WAR to Remote Tomcat'
    steps:
    - task: DownloadBuildArtifacts@1
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'java'
        downloadPath: '$(System.DefaultWorkingDirectory)/java_folder'

    - task: CopyFilesOverSSH@0
      inputs:
        sshEndpoint: 'tomserver'
        sourceFolder: '$(System.DefaultWorkingDirectory)/java_folder/java/JavaLoginShowcase-1.0.0'
        contents: '*.war'
        targetFolder: '/opt/tomcat/webapps'

