
trigger:
- main

pool:
  vmImage: ubuntu-latest

stages: 

  - stage: publishArtifact
    displayName: "publish Artifact"
    jobs: 
      - job: "Artifact"
        steps:
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/target'
            ArtifactName: 'javafrontend'
            publishLocation: 'Container'

  - stage: deploy
    jobs:
    - deployment: DeployWeb
        displayName: deploy Web App
            pool:
            vmImage: 'Ubuntu-latest'
            # creates an environment if it doesn't exist
        environment: 
        name: 'smarthotel-dev'
        resourceName: myVM
        resourceType: virtualMachine
        strategy:
        runOnce:
            deploy:
            steps:
            - script: echo Hello world