
trigger:
- main

pool:
  vmImage: ubuntu-latest

stages: 

  - stage: publishArtifact
    displayName: "publish Artifact"
    jobs: 
      - job: "Artifact"
        steps:
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/target'
            ArtifactName: 'javafrontend'
            publishLocation: 'Container'

  - stage: deploy-vm
    jobs:
    - deployment: DeployWeb
      displayName: deploy Web App
      environment:
        name: 'javafrontend-vm'
        resourceName: myVM
        resourceType: virtualMachine
      strategy:
        runOnce:
          deploy:
            steps:
            - task: DownloadPipelineArtifact@2
              inputs:
                buildType: 'current'
                artifactName: 'javafrontend'
                targetPath: '$(Pipeline.Workspace)/target'
