trigger:
- main

pool: pip_agent

steps:
- checkout: self
  displayName: 'Checkout Code'

- powershell: |
    $env:JAVA_HOME = "C:\Program\Java\jdk-21.0.9"
    $env:PATH = "C:\maven-mvnd-1.0.3-windows-amd64\bin;$env:JAVA_HOME\bin;$env:PATH"
    
    Write-Host "Java Version:"
    & java -version
    
    Write-Host "`nMaven Version:"
    & mvnd -version
  displayName: 'Check Tools'

- powershell: |
    $env:JAVA_HOME = "C:\Program\Java\jdk-21.0.9"
    $env:PATH = "C:\maven-mvnd-1.0.3-windows-amd64\bin;$env:JAVA_HOME\bin;$env:PATH"
    
  displayName: 'Maven Build'