trigger:
- main

pool:
  vmImage: pip_agent

steps:
- script: |
    set JAVA_HOME=C:\Program Files\Java\jdk-21.0.9
    set PATH=%JAVA_HOME%\bin;%PATH%
    java -version
  displayName: 'Set Java 21'

- task: Maven@3
  displayName: 'Build with Maven'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    javaHomeOption: 'Path'
    jdkDirectory: 'C:\Program Files\Java\jdk-21.0.9'