trigger:
- main

pool: pip_agent

steps:
- checkout: self
  displayName: 'Checkout Code'

- script: |
    dir
    echo Current directory: %CD%
  displayName: 'Show Files'

- script: |
    set JAVA_HOME=C:\Program Files\Java\jdk-21.0.9
    set PATH=%JAVA_HOME%\bin;C:\maven-mvnd-1.0.3-windows-amd64\bin;%PATH%
    
    java -version
    mvn -version
  displayName: 'Check Tools'

- script: mvn clean install
  displayName: 'Build Project'
  env:
    JAVA_HOME: 'C:\Program Files\Java\jdk-21.0.9'
    PATH: 'C:\maven-mvnd-1.0.3-windows-amd64\bin;C:\Program Files\Java\jdk-21.0.9\bin;$(PATH)'