
trigger:
- main

pool:
  vmImage: ubuntu-latest

stages: 

  - stage: publishArtifact
    displayName: "publish Artifact"
    jobs: 
      - job: "Artifact"
        steps:
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/target'
            ArtifactName: 'javafrontend'
            publishLocation: 'Container'

  - stage: downloadArtifact
    displayName: "Download Artifact"
    jobs:
      - job: "Download"
        steps:
         - task: DownloadPipelineArtifact@2
           inputs:
             buildType: 'current'
             artifactName: 'javafrontend'
             targetPath: '$(Pipeline.Workspace)/web'
      
