

trigger:
- main

pool:
  pip_agent

stages:
  - stage: "InstallJava"
    jobs:
      - job: "installJava"
        displayName: "installion of java"
        steps:
        - task: JavaToolInstaller@1
          inputs:
            versionSpec: '21'
            jdkArchitectureOption: 'x64'
            jdkSourceOption: 'LocalDirectory'
            jdkFile: '$(Build.SourcesDirectory)/Downloads/jdk-21.zip' # full path to zip
            jdkDestinationDirectory: '$(Agent.TempDirectory)/jdk-21' # writable folder
            cleanDestinationDirectory: true
        - script: |
            echo "Setting JAVA_HOME..."
            set JAVA_HOME=$(Agent.TempDirectory)\jdk-21
            set PATH=%JAVA_HOME%\bin;%PATH%
            java -version
          displayName: 'Verify Java Installation'


