trigger:
- main

pool:
  name: 'pip_agent'

stages:
- stage: Build
  displayName: Build WAR
  jobs:
  - job: MavenBuild
    steps:
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.21'
        mavenVersionOption: 'Path'
        mavenDirectory: 'C:\maven\'
        mavenSetM2Home: false
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
# - stage: 
#   displayName: "deployment"
#   jobs:
#     - job: deployment
#       steps:
      # - task: TomcatDeployment@1
      #   inputs:
      #     TomcatUrl: 'http://localhost:8080'
      #     Username: 'chandan'
      #     Password: 'chandan@1234'
      #     Warfile: 'C:\Agent\_work\3\s\target\JavaLoginShowcase-1.0.0.war'
      #     Context: '/JavaLoginShowcase'
      # #     ServerVersion: '7OrAbove'
      # - task: PublishBuildArtifacts@1
      #   inputs:
      #     PathtoPublish: '$(Build.ArtifactStagingDirectory)/target'
      #     ArtifactName: 'java'
      #     publishLocation: 'Container'
      # - task: DownloadBuildArtifacts@1
      #   inputs:
      #     buildType: 'current'
      #     downloadType: 'single'
      #     artifactName: 'java'
      #     downloadPath: '$(TOMCAT_HOME)/webapps/'